 <div class="auth">
      <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a class="active" href="#login">log in</a></li>
        <li class="tab col s6"><a class="active" href="#register">Registration</a></li>
      </ul>
    </div>
    <div id="login" class="col s6 offset-s3">

        {{#if loginError}}
        <p class="alert">{{loginError}}</p>
        {{/if}}

        <h3>Log in your acount</h3>

            <form action="/auth/login" method="POST">
                <div class="input-field ">
                    <input  id="email" name="email" type="email" class="validate" required>
                    <label for="email">Please,enter your email</label>
                    <span class="helper-text" data-error="wrong" data-success="right"></span>
                    </div>

                    <div class="input-field ">
                    <input  id="password" name="password" type="password" class="validate" required>
                    <label for="password">Please,enter your password</label>
                    <span class="helper-text" data-error="wrong" data-success="right"></span>
                    </div>
                <input type="hidden" name="_csrf" value="{{csrf}}">
                <p>Forgot password?<a href="/auth/reset">Reset password</a></p>
                <button class="btn btn-priary" type="submit">Log in</button>
            </form>
    </div>
    <div id="register" class="col s6 offset-s3">
      {{#if registerError}}
        <p class="alert">{{registerError}}</p>
        {{/if}}

            <h3>Log in your acount</h3>
            <form action='/auth/register' method="POST" novalidate>

                <div class="input-field ">
                    <input  id="remail" name="email" type="email" class="validate" required>
                    <label for="remail">Please,enter your email</label>
                    <span class="helper-text" data-error="wrong" data-success="right"></span>
                    </div>

                    <div class="input-field ">
                    <input  id="name" name="name" type="text" class="validate" required>
                    <label for="name">Please,enter your name</label>
                    <span class="helper-text" data-error="wrong" data-success="right"></span>
                    </div>

                    <div class="input-field ">
                    <input  id="rpassword" name="password" type="password" class="validate" required>
                    <label for="rpassword">Please,enter your password</label>
                    <span class="helper-text" data-error="wrong" data-success="right"></span>
                    </div>

                    <div class="input-field ">
                    <input  id="confirm" name="confirm" type="password" class="validate" required>
                    <label for="confirm">Please,verify your password</label>
                    <span class="helper-text" data-error="wrong" data-success="right"></span>
                    </div>

                <input type="hidden" name="_csrf" value="{{csrf}}">
                <button class="btn btn-priary" type="submit">Log up</button>
            </form>
    </div>
  </div>
 </div>

        