 <div class="auth">
      <div class="row">
    <div class="col s12">
      <ul class="tabs">
      </ul>
    </div>
    <div id="login" class="col s6 offset-s3">

        {{#if error}}
        <p class="alert">{{error}}</p>
        {{/if}}

        <h3>Enter new password</h3>

            <form action="/auth/password" method="POST">
                <div class="input-field ">
                    <input  id="password" name="password" type="password" class="validate" required>
                    <label for="password">Please,enter new password</label>
                    <span class="helper-text" data-error="wrong" data-success="right"></span>
                    </div>

                    
                <input type="hidden" name="_csrf" value="{{csrf}}">
                <input type="hidden" name="userId" value="{{userId}}">
                <input type="hidden" name="token" value="{{token}}">
                <button class="btn btn-priary" type="submit">Change password</button>
            </form>
    </div>