 <div class="auth">
      <div class="row">
    <div class="col s12">
      <ul class="tabs">
      </ul>
    </div>
    <div id="login" class="col s6 offset-s3">

        {{#if error}}
        <p class="alert">{{error}}</p>
        {{/if}}

        <h3>Enter your Email</h3>

            <form action="/auth/reset" method="POST">
                <div class="input-field ">
                    <input  id="email" name="email" type="email" class="validate" required>
                    <label for="email">Please,enter your email</label>
                    <span class="helper-text" data-error="wrong" data-success="right"></span>
                    </div>

                    
                <input type="hidden" name="_csrf" value="{{csrf}}">
                
                <button class="btn btn-priary" type="submit">Reset password</button>
            </form>
    </div>