<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Courses</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        {{#if isAuth}}
          {{#if isHome }}
            <li class="active"><a href="/">Main page</a></li>
            {{else}}
              <li ><a href="/">Main page</a></li>
              {{/if}}
              {{#if isCourses }}
            <li class="active"><a href="/courses">Courses</a></li>
            {{else}}
              <li ><a href="/courses">Courses</a></li>
              {{/if}}
          {{#if isAdd }}
            <li class="active"><a href="/add">Add</a></li>
            {{else}}
              <li ><a href="/add">Add</a></li>
              {{/if}}
              {{#if isCard }}
            <li class="active"><a href="/card">Basket</a></li>
            {{else}}
              <li ><a href="/card">Bastet</a></li>
              {{/if}}
              {{#if isOrders }}
            <li class="active"><a href="/orders">Orders</a></li>
            {{else}}
              <li ><a href="/orders">Orders</a></li>
            {{/if}}
              {{#if isProfile }}
            <li class="active"><a href="/profile">Profile</a></li>
            {{else}}
              <li ><a href="/profile">Profile</a></li>
            {{/if}}
            <li ><a href="/auth/logout">Log out</a></li>
        {{else}}
          {{#if isHome }}
          <li class="active"><a href="/">Main page</a></li>
          {{else}}
            <li ><a href="/">Main page</a></li>
            {{/if}}
            {{#if isCourses }}
          <li class="active"><a href="/courses">Courses</a></li>
          {{else}}
            <li ><a href="/courses">Courses</a></li>
            {{/if}}
            
          {{#if isLogin }}
              <li class="active"><a href="/auth/login">Log in</a></li>
              {{else}}
              <li><a href="/auth/login">Log in</a></li>
          {{/if}}
        {{/if}}
          
      </ul>
    </div>
  </nav>