<h1>add</h1>


{{#if errors}}
  <p class="alert">{{errors}}</p>
{{/if}}

<form action="/add" method="POST" novalidate>

    <div class="input-field ">
          <input  id="title" name="title" type="text" class="validate" required value="{{data.title}}">
          <label for="title">write the name of course</label>
        <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>

         <div class="input-field ">
          <input  id="price" name="price" type="number" class="validate" required min="1" {{data.price}}>
          <label for="price" >course price</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>

         <div class="input-field ">
          <input  id="image" name="img"  type="text" class="validate" required {{data.img}}>
          <label for="image" >Image URL</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <button class="btn btn-priary">Add Course</button>
        </form>