<h1>Basket</h1>
<div id="card">
{{#if courses.length}}
<table>
    <thead>
        <tr>
        <th>Name</th>
        <th>Count</th>
        <th>Act</th>
        </tr>
    </thead>
<tbody>
{{#each courses}}
<tr>
    <td>{{title}}</td>
    <td>{{count}}</td>
<td>
     
    <button class="btn btn-small js-remove" data-csrf="{{@root.csrf}}"  data-id="{{id}}" >Delete</button>
</td>
</tr>
{{/each}}
</tbody>
</table>


<p><strong>Price :</strong><span class="price">{{price}}</span></p>

<form action="/orders" method="POST">
<input type="hidden" name="_csrf" value="{{csrf}}">
<button type="submit" class="btn">Make an order</button>
</form>

{{else}}
<p>Any courses added yet</p>
{{/if}}
</div>

