
<h1 style="text-align: center;">My orders</h1>
{{#if orders.length}}
{{#each orders}}
<div class="row">
    <div class="col s6 offset-s3">
        <div class="card">
            <div class="card-content">
                <span class="cart-title">
                    Order <small>{{_id}}</small>
                </span>
                <hr>
                <p class="date">{{date}}</p>
                <hr>
                <p>Customer : <em>{{user.userId.name}}</em><br>Email : {{user.userId.email}}</p>
                <ol>
                    {{#each courses}}
                    <li>
                        {{course.title}} (x<strong>{{count}}</strong>)
                    </li>
                    {{/each}}
                </ol>

                <hr>

                <p>Price : <span class="price">{{price}}</span></p>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{else}}
<h1>You haven`t ordered anything at this moment</h1>
{{/if}}
