<h1>Profile</h1>

<div class="row">
    <div class="col s6">
        {{#if user.avatarUrl}}
        <img class="avatar"
        src="/{{user.avatarUrl}}"
         alt="">
         {{else}}
        <p>Avatar hasn't been loaded</p>
        {{/if}}
    </div>

    <div class="col s6">
        <form action="/profile" method="POST" enctype="multipart/form-data">
            <div class="input-field ">
          <input  id="name" name="name" type="text" class="validate" required value="{{user.name}}">
          <label for="name">Your name</label>
        <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
            <div class="file-field input-field">
            <div class="btn">
                <span>File</span>
                <input type="file" name="avatar">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
            </div>

            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button type="submit" class="btn">Edit</button>
        </form>

    </div>
</div>