.nav-wrapper {
    padding: 0 2rem;
}
.price {
    font-size: 2rem;
}
.edit_form {
    margin-bottom: 2rem;
}
.auth {
    padding-top: 1rem;
}
.alert {
    padding : .5rem 1rem;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1rem;
    background: rgba(255, 0, 0, .3);
    color: red;
}
.avatar {
    max-width: 300px;
    height: auto;
}